/* --- Brand Section --- */ 
.brand{
    .row{
        & > div{
            width: 50%;
            height: 50vh;
            padding: 5%;
        }
    }
    &-text{
        &--inner{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            width: 100%;
            h2{
                font-weight: 900;
                line-height: 30px;
                width: 50%;
            }
            p{
                color: $gray;
                line-height: 28px;
                font-size: 18px;
            }
        }
    }
    
}